.claimContainer {
  position: relative;
}
.claimContainer + .claimContainer::after {
  content: "";
  position: absolute;
  bottom: -37.5px;
  width: calc(100% + 50px);
  height: 3px;
  background-color: var(--accent-color);
  right: 50%;
  z-index: -1;
}
.claim {
  padding: 20px;
  background-color: var(--surface-color);
  border-radius: 8px;
  box-shadow: var(--card-box-shadow);
  position: relative;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
}
.claim:hover {
  background-color: var(--accent-color);
}
.claim::before,
.claim::after {
  content: "";
  height: 75px;
  width: 3px;
  position: absolute;
  left: 50%;
  background-color: var(--accent-color);
  z-index: -1;
}
.claim::before {
  top: 0;
  transform: translate(-50%, -100%);
}
.claim::after {
  bottom: 0;
  transform: translate(-50%, 100%);
}

.claimContainer button {
  position: absolute;
  left: 50%;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  background-color: var(--accent-color);
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 1rem;
}
.claimContainer button:hover {
  border-color: var(--secondary-color);
}
.claimContainer button:active {
  border-color: var(--accent-color);
}
.claimContainer button:first-of-type {
  top: -37.5px;
  transform: translate(-50%, -50%);
}
.claimContainer button:last-of-type {
  bottom: -37.5px;
  transform: translate(-50%, 50%);
}
