.claimContainer {
  position: relative;
  display: inline-block;
}
.claimContainer + .claimContainer {
  margin-left: 50px;
}
.claim {
  padding: 20px;
  background-color: var(--surface-color);
  border-radius: 8px;
  box-shadow: var(--card-box-shadow);
  position: relative;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
}
.claim:hover {
  background-color: var(--accent-color);
}

.claimContainer button {
  position: absolute;
  left: 50%;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  background-color: var(--accent-color);
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 1rem;
  z-index: 1;
}
.claimContainer button:hover {
  border-color: var(--secondary-color);
}
.claimContainer button:active {
  border-color: var(--accent-color);
}
.claimContainer button:first-of-type {
  top: -37.5px;
  transform: translate(-50%, -50%);
}
.claimContainer button:last-of-type {
  bottom: -37.5px;
  transform: translate(-50%, 50%);
}

.node {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  z-index: 1;
  cursor: pointer;
}
.node:hover {
  background-color: var(--primary-color);
}
.node.top {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.node.right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.node.bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.node.left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
