#home {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.level + .level {
  margin-top: 80px;
}
#graph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
line {
  stroke: var(--accent-color);
  stroke-width: "3";
}
